.ligne-produit {
    display: inline-block;
    height: 100px;
    width: 100%;
    border-radius: 5px;
    display: flex;
}

.ligne-produit.first {
    width: 65%;
    height: 35px;
    background-color: grey;
    color: white;
    font-weight: bold;
    margin: 0 6% 0 2%;
    position: relative;
    top: 2%;

}

.img {
    width: 10%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.img img {
    width: 120px;
    height: 100px;
}

.quantite,.nom,.prix-unit,.prix-total {
    height: 100%;
    display: flex;
    justify-content:center ;
    align-items: center;
}

.nom {
    width: 15%;
    padding-left: 5px;
}

.quantite {
    width: 10%;
}

.prix-unit {
    width: 15%;
}

.prix-total {
    width: 15%;
}

.actions {
    width: 40%;
    margin-right: 0;
    transition: all ease 0.5s;
    display: flex;
    flex-direction: row;
}

.delete {
    width: 0;
    transition: all ease 0.5s;
}

.delete>img {
    text-align: center;
    cursor: pointer;
    color: white;
    transform: rotate3d(0,0,0,0deg);
    transition: all ease 0.35s;
    display: none;
}

.delete>img:hover {
    transform: rotate3d(0,0,1,10deg);
}

.plus-moins {
    width: 5%;
}

.actions:hover .btns{
    width: 80%;
}

.actions:hover .delete {
    width: 20%;
}

.actions:hover .delete>img {
    display: block;
}

.btns {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 3%;
    transition: all ease 0.5s;
    padding-left: 6%;
}

.btns>button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20em;
    padding: 0.25em 1em;
    margin: 0 0.75em;
    font-weight: 600;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.7);
    transition: all ease 0.5s;
}

.btns>button:hover {
    background-color: black;
    color: white;
    font-weight: bold;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.7);
}

.btns>button:first-child {
    width: 7em;
}

.btns>button:last-child {
    width: 7em;
}

.btns>button img {
    width: 20px;
    height: 20px;
    border-radius: 20%;
    padding: 1%;
    border: 1px solid;
    background-color: white;
}
