<div class="header">
    <ild-header [isPanier]="isPanier"></ild-header>
</div>
<div class="mes-commandes">
    <div class="d-flex head justify-content-between">
        <div class="search-group">
            <label class="label-search-group" for="search-input">
              Recherche
            </label>
            <input type="text" id="search-input" placeholder="Entre Numero Commande" class="input-search-group" />
        </div>
        <div>
            <div>
                <mat-button-toggle-group (change)="onValChange($event.value)" appearance="legacy" name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle value="{{enCours}}" checked>En cours</mat-button-toggle>
                    <mat-button-toggle value="{{valide}}">Validé</mat-button-toggle>
                    <mat-button-toggle value="{{annule}}">Annulé</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <div>
                <input #fDate (input)="getDate(fDate.value)" class="btn border border-dark" type="date" name="" id="" placement="bottom" ngbTooltip="Filter Par date">   
            </div>
        </div>
    </div>
    <div class="table-container">
        <table class="table shadow-sm rounded">
            <thead>
                <tr>
                    <th>Etat</th>
                    <th>Numero Commande</th>
                    <th>Date</th>
                    <th>Montant</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="(commandes$|async) != null">
                    <tr *ngFor="let commande of commandes$|async">
                        <td><span class="etat text-light font-bold"  [ngClass]="{'bg-blue-500': filterVal == enCours, 'bg-green-500': filterVal == valide, 'bg-red-500': filterVal == annule}">{{filterVal}}</span></td>
                        <td>{{commande.numero}}</td>
                        <td>{{commande.createdAt | date:'dd/MM/yyyy'}}</td>
                        <td>{{commande.montant}}</td>
                        <td>
                            <a (click)="detailsCommande(commande)" class="btn bg-dark text-light mx-2" routerLink="/client/panier" >Details</a>
                            <ng-container *ngIf="filterVal == enCours">
                                <button (click)="annulerCommande(commande)" class="btn bg-danger text-light mx-2">Annuler</button>
                            </ng-container>
                            <ng-container *ngIf="filterVal == valide">
                                <button (click)="recommanderCommande(commande)" class="btn bg-primary text-light mx-2">Recommender</button>
                            </ng-container>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <ng-container *ngIf="(commandes$|async) == null">
            <ild-loader></ild-loader>
        </ng-container>
        
    </div>
    <div class="paginate">
        <!-- <ngb-pagination 
            [collectionSize]="120"
            [(page)]="page"
            [maxSize]="5" 
            [rotate]="true" 
            [ellipses]="true" 
            [boundaryLinks]="true">
        </ngb-pagination> -->
        <mat-paginator [length]="(commandes$|async)?.length"
              [pageSize]="8"
              [pageSizeOptions]="[8]"
              aria-label="Select page">
        </mat-paginator>
    </div>
</div>
<div class="footer">
    <ild-footer></ild-footer>
</div>