<div class="card animate-pulse m-3 bg-gray-300">
    <div class="card-img bg-gray-400" #bgImg>
        <div class="prix bg-gray-200"></div>
    </div>
    <div class="card-info">
        <div class="card-title">
            <span class="bg-gray-400"></span>
            <div>
                <span class="bg-gray-400"></span>
                <span class="bg-gray-400"></span>
            </div>
        </div>
        <div class="card-btns ">
            <div class="plus-moins bg-gray-400">
                
            </div>
            <div class="bg-gray-400">
                
            </div>
        </div>
    </div>
</div>