.details {
    height: 100vh;
    z-index: 100;
    position: absolute;
    width: 80em;
    right: 0;
    overflow-y: scroll;
}

.head {
    margin: 0 2%;
    border-bottom: 2px solid;
    padding: 1%;
    height: 5%;
}

.head span:last-child{
    cursor: pointer;
    position: relative;
    bottom: 15px;
    left: 10px;
}

.container-1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 22.5%;
    padding: 2%;
    margin-bottom: 2%;
}

.container-1 div:first-child {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 30%;
    border-radius: 5px;
}

.container-1 div:last-child {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2%;
}

.container-1 div:last-child>span {
    padding: 1%;
}

.container-1 div:last-child>span>span:first-child {
    font-weight: bold;
    font-size: 1.5em;
}

.container-1 div:last-child>span>span:last-child {
    font-size: 1.4em;
}

.container-2 {
    width: 100%;
    height: 7.5%;
    display: flex;
    flex-direction: row-reverse;
    padding: 0 5%;
}

.container-2>div:first-child {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-2>div:first-child>span {
    width: 2.5em;
    height: 2.5em;
    border-radius: 100%;
    background-color: grey;
    color: white;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    transition: all ease 0.35s;
}

.container-2>div:first-child>span:hover {
    background-color: black;
    color: white;
}

.container-2>div:first-child input[type=text] {
    width: 3em;
    height: 3em;
    border-radius: 10px;
    text-align: center;
    border: none ;
    background-color: grey;
    color: white;
    font-size: 1.3em;
}

.container-menu {
    padding: 0 2%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu-boissons {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
}

.choice-taille {
    display: flex;
    width: 100%;
    height: 30%;
    margin: 0.5% 0;
}

.boissons {
    width: 90%;
    justify-content: start;
    align-items: center;
    padding: 1%;
    padding: 1%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.boisson {
    display: inline-block;
    flex-direction: column;
    width: 7.5em;
    height: 100%;
    margin: 0 5px;
}

.boisson>div:first-child {
    height: 80%;
    background-image: url('https://img.icons8.com/color/96/000000/coca-cola.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.boisson>div:last-child {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taille {
    display: flex;
    flex-direction: column;
    width: 10%;
    align-items: center;
    justify-content: center;
}

.taille>span:first-child {
    display: flex;
    align-items: baseline;
}
.taille>span:last-child {
    text-align: center;
    display: flex;
    align-items: baseline;
}

.menu-recap table {
    width: 60em;
    border-collapse: collapse;
    border-radius: 0.5em;
    overflow: hidden;
    margin-bottom: 1% 0;
}

.menu-recap table th,td {
    padding: 0.25em;
    border-bottom: 2px solid white;
    color: black;
}

.menu-recap table thead th {
    background-color: gray;
    color: white;
}
.menu-recap table tbody tr {
    background-color: rgb(208, 204, 204);
    color: white;
}

.container-3 {
    width: 100%;
    height: 55%;
    padding: 0 3%;
}

.container-3>div {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-3>div>div:first-child {
    width: 100%;
    height: 15%;
    margin: 0.5 5%;
    border-bottom: 1px solid grey;
    animation-name: veuthie-veuthie;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    padding: 1%;
}


@keyframes veuthie-veuthie {
    from {
        border-bottom: 1px solid grey;
    }
    50% {
        
        border-bottom: 1.5px solid black;
    }
    to {
        border-bottom: 1px solid grey;
    }
}

.card-container {
    width: 100%;
    height: 85%;
    padding: 1%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}


.footer {
    width: 100%;
    height: 7.5%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 1% 4%;
}

.footer>button {
    background-color: rgb(21, 20, 20);
    color: white;
    font-weight: 600;
    transition: all ease 1s;
    height: 3em;
}

.footer>button:hover {
    background-color: orange;
    color: white;
    font-weight: bold;
    padding: 1% 3%;
}


.toile {
    background-color: rgba(255, 255, 255, 0.6);
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 100;
}