<div class="h-64 w-52 rounded">
    <div #bgImg class="h-1/2 img-part rounded-t-xl">

    </div>
    <div class="h-1/2 body-part flex flex-col p-3 border-2 w-full rounded-b-xl">
        <div class="w-full">
            <span class="text-lg">{{produit?.nom}}</span><br>
            <span class="text-lg">{{produit?.prix}} FCFA</span>
        </div>
        <div class="w-full flex justify-end items-center">
            <span class="px-2 py-0.5 bg-gray-700 text-white rounded">Details</span>
        </div>
    </div>
</div>
