.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1%;
}

.imagePreview {
    width: 80%;
    height: 70%;
}

.submit-btn {
    border: 2px solid #f44336;
    color: #f44336;
}

.champs {
    height: 53vh;
}

.submit-btn-menu {
    top : 0;
}

.submit-btn:hover {
    background-color: #f44336;
    color: white;
    font-weight: 600;
}

.menuComponents {
    height: 100%;
    display: flex;
}

.menuComponents-2 {
    height: 10em;
    width: 65em;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
}
