<div class="choice-taille">
    <div class="taille">
        <span>{{menuTaille?.taille?.prix}} FCFA</span>
        <span>{{menuTaille?.taille?.libelle}} x {{menuTaille?.quantite}}</span>
        <ng-container *ngIf="block">
            <span class="text-dark-900 bg-green-500 font-bold text-sm border-2 border-dark-600 rounded-2xl" >Choix Complets</span>
        </ng-container>
    </div>
    <div class="boissons">
        <ng-container *ngFor="let boissonTaille of menuTaille?.taille?.boissonTailles">
            <ild-card-boisson-menu (emiter)="getVal($event)"  [boissonTaille]="boissonTaille" [block]="block"></ild-card-boisson-menu>
        </ng-container>
    </div>
</div>