<div class="choice-taille">
    <div class="taille">
        <span>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABmJLR0QA/wD/AP+gvaeTAAACVElEQVR4nO2bsWoUURSGv6wb1zUgrIKsVUDQUqIQSCWIsCK+gNhpJWjARmx8AsEuXQIBixQRA1ZaJRa+gCAislhYiAhqkRAF3YzFbMCdubPZ2XvOHDXng1vsLJz/P//s3pmBM+A4zn5mQqhODZgHLgGTQjWL+Ak8BxaAHWWtkbkBJBWv6xLGaxJFgFmhOpVrSgWwLlSnDBsSReoSRYBO4NgToCtU/zj5n3wHeCxUP4qzQI/B/+cWcERQ4yCwmdHo9bXNeUF+g1pS0Hka0HmJ3JVsLC4ETCXAnILWzQKt8wpaI7MaMPRaSWs6oJUAK0p6I/ExYOiOot6bgN4HRb2hHCK9E/vTzA/gmKLmQ/IB9IDGuAVj7gOa5DegNeBLRM29eBY4VgMOK2oW0iJ/Ni4razbIXw6TvpexkLoR2uVz5vO9/pKkKVlMOoAsLSLOThVIPQv8s3gA1gas8QCsDVjjAVgbsMYDsDZgjQdgbcAaD8DagDUegLUBazwAawPWeADWBqzxAKwNWOMBWBuwxgOwNmCNB2BtwBoPwNqANfs+gJgRsxbwNXPsIoNTo03SUZpYJoAZYBE4Gfj+KPBNQKcUoQmR+8qaVwKaURMiMYQC+AScUNScCWj+VQEkpKNs5xT0DgCPCjTHDiBmD5ginQku4hXwHvgVobFLDTgDnBriZVtApzTvqP5Fiex6q97lEK4VmKpyXVXvcg9uA9+pvvFt4FYF/Y1EmzSIZfQbXyZtvF1JZyWpk258Ws13EZ5t1HjZYBq4C5wWrJ+QbrgPMJwOdxzn/+M3sJA0jlZvjqgAAAAASUVORK5CYII=">
        </span>
        <span>Canette x 5</span>
    </div>
    <div class="boissons">
        <div class="boisson shadow-sm">
            <div>
                <input type="checkbox" name="" id="">
            </div>
            <div>
                <ild-plus-moins></ild-plus-moins>
            </div>
        </div>
        <div class="boisson shadow-sm">
            <div>
                <input type="checkbox" name="" id="">
            </div>
            <div>
                <ild-plus-moins></ild-plus-moins>
            </div>
        </div>
        <div class="boisson shadow-sm">
            <div>
                <input type="checkbox" name="" id="">
            </div>
            <div>
                <ild-plus-moins></ild-plus-moins>
            </div>
        </div>
        <div class="boisson shadow-sm">
            <div>
                <input type="checkbox" name="" id="">
            </div>
            <div>
                <ild-plus-moins></ild-plus-moins>
            </div>
        </div>
    </div>
</div>