<ild-layout [text]="text" [previousUrl]="previousUrl"></ild-layout>
<div class="inscription">
    <div class="tab-signin shadow">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)" class="form-part shadow-sm">
            <div class="form-part-head fs-4">S'Inscrire</div>
            <div class="form-part-body">
                <div>
                    <div>
                        <label for="">Prenom</label>
                        <input formControlName="prenom" placeholder="Entrer Votre Prenom" type="text" name="" id="" class="form-control">
                    </div>
                    <div>
                        <label for="">Nom</label>
                        <input formControlName="nom" placeholder="Entrer Votre Nom" type="text" name="" id="" class="form-control">
                    </div>
                    <div>
                        <label for="">Telephone</label>
                        <div class="telephone">
                            <input class="indicatif" type="text" value="+ 221">
                            <input formControlName="telephone" placeholder="Entrer Votre Numero de Telephone" type="text" name="" id="" class="phone form-control">
                        </div>
                    </div>
                    <div>
                        <label for="">Adresse</label>
                        <input formControlName="adresse" placeholder="Entrer Votre Adresse de Domicile" type="text" name="" id="" class="form-control">
                    </div>
                </div>
                <div>
                    <div>
                        <label for="">login</label>
                        <input formControlName="login" placeholder="Entrer Votre Email" type="email" name="" id="" class="form-control">
                    </div>
                    <div>
                        <label for="">Password</label>
                        <input #passwordInput formControlName="planPassword" placeholder="Entrer Votre Mot de Passe" type="password" name="" id="" class="form-control ">
                    </div>
                    <div>
                        <label for="">Confirm Password</label>
                        <input #confirmInput formControlName="confirmPassword" placeholder="Confirmer Votre Mot de Passe" type="password" name="" id="" class="form-control">
                        <ng-container *ngIf="confirmInput.value != passwordInput.value,then content else content_rev"></ng-container>
                        <ng-template #content>
                            <small class="bg-danger text-light px-3 font-bold animate-bounce rounded w-max">Confirmation Invalide</small>
                        </ng-template>
                        <ng-template #content_rev>
                            <small [hidden]=" passwordInput.value == '' " class="bg-green-700 text-light px-3 font-bold rounded w-max">Confirmation Valide</small>
                        </ng-template>
                    </div>

                </div>
            </div>
            <button type="submit" [disabled]="myForm.invalid" class="btn">Connexion</button>
        </form>
    </div>
</div>