<ild-layout></ild-layout>
<div class="inscription">
    <div class="tab-signin shadow">
        <div class="form-part shadow-sm">
            <div class="form-part-head fs-4">S'Inscrire</div>
            <div class="form-part-body">
                <div>
                    <div>
                        <label for="">Prenom</label>
                        <input type="text" name="" id="" class="form-control">
                    </div>
                    <div>
                        <label for="">Nom</label>
                        <input type="text" name="" id="" class="form-control">
                    </div>
                    <div>
                        <label for="">Telephone</label>
                        <div class="telephone">
                            <input class="indicatif" type="text" value="+ 221">
                            <input type="text" name="" id="" class="phone form-control">
                        </div>
                    </div>
                    <div>
                        <label for="">Adresse</label>
                        <input type="text" name="" id="" class="form-control">
                    </div>
                </div>
                <div>
                    <div>
                        <label for="">login</label>
                        <input type="email" name="" id="" class="form-control">
                    </div>
                    <div>
                        <label for="">Password</label>
                        <input type="password" name="" id="" class="form-control">
                    </div>
                    <div>
                        <label for="">Confirm Password</label>
                        <input type="password" name="" id="" class="form-control">
                    </div>

                </div>
            </div>
            <button class="btn">Connexion</button>
        </div>
    </div>
</div>