<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.22.0/dist/full.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css" />

</head>
<div class="produits flex flex-col">
    <div class="list-produits text-3xl flex flex-col my-2">
        <div>Ajouter Nouveau</div>
        <div class="border-2 border-orange-500 w-full my-2"></div>
    </div>
    <div class="new w-full border-2 rounded">
        <mat-tab-group #formTabs class="h-full w-full border-none shadow-sm" color="warn" mat-align-tabs="start">
            <mat-tab label="Burger">
                <ild-form (emitter)="getFormData($event)" [key]="'burgers'"></ild-form>
            </mat-tab>
            <mat-tab label="Menu">
                <ild-form (emitter)="getFormData($event)" [key]="'menus'"></ild-form>
            </mat-tab>

            <mat-tab label="Boisson">
                <ild-form (emitter)="getFormData($event)" [key]="'boissons'"></ild-form>
            </mat-tab>
            <mat-tab label="Portion Frites">
                <ild-form (emitter)="getFormData($event)" [key]="'portion_frites'"></ild-form>
            </mat-tab>
            <mat-tab label="Taille">
                <ild-form (emitter)="getFormData($event)" [key]="'tailles'"></ild-form>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div class="list-produits text-3xl flex flex-col mt-3">
        <div>Listes des Produits</div>
        <div class="border-2 border-orange-500 w-full my-2"></div>
    </div>
    <div class="list flex flex-col">
        <div class="table-container">
            <table class="table shadow rounded">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Image</th>
                        <th>Nom</th>
                        <th>Prix</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="produits != null">
                        <tr #tr *ngFor="let produit of produits">
                            <td>{{produit.type}}</td>
                            <td class="flex justify-center items-center p-1 border-none"><img class="td-img" src="data:image/png;base64,{{produit.image}}" alt=""></td>
                            <td>{{produit.nom}}</td>
                            <td>{{produit.prix}}</td>
                            <td>
                                <a  class="bg-blue-500 text-light py-2 px-4 rounded cursor-pointer mx-3 hover:bg-blue-700" >Modifier</a>
                                <a (click)="delete(produit.id,tr)"  class="bg-red-500 text-light py-2 px-4 rounded cursor-pointer mx-3 hover:bg-red-700" >Supprimer</a>

                            </td>
                        </tr>
                        
                    </ng-container>
                </tbody>
            </table>
            <ng-container *ngIf="produits == null">
                <ild-loader></ild-loader>
            </ng-container>
            <div *ngIf="produits.length == 0" class="w-full  text-2xl font-bold ">
                Pas de Produits Disponnibles
            </div>
            
        </div>
        <div *ngIf="produits.length != 0" class="paginate flex items-center h-16">
            <span (click)="paginate('first')" class="flex cursor-pointer rounded-l-sm justify-center items-center w-20 h-8 text-white bg-gray-900">Premier</span>
            <span (click)="paginate('previous')" class="flex cursor-pointer justify-center items-center w-20 h-8 text-white bg-gray-800">precedent</span>
            <span class="flex cursor-pointer justify-center items-center w-20 h-8 text-white font-bold bg-gray-700">{{page}}</span>
            <span (click)="paginate('next')" class="flex cursor-pointer justify-center items-center w-20 h-8 text-white bg-gray-800">suivant</span>
            <span (click)="paginate('last')" class="flex cursor-pointer rounded-r-sm justify-center items-center w-20 h-8 text-white bg-gray-900">Derinier</span>
        </div>
    </div>
</div>
</html>