<div class="mini-card">
    <div class="mini-card-img">
        <span class="prix">{{produit?.prix}} Fcfa</span>
    </div>
    <div class="mini-card-info shadow">
        <div class="mini-card-title">
            <span>{{produit?.nom}}</span>
            <div>
                <ng-container *ngIf="(produit?.type == 'PortionFrites'),then content else other_content ">
                </ng-container>
                 <ng-template #content>
                        <span>Taille</span>
                        <span>Cannette</span>
                </ng-template>
                <ng-template #other_content>
                    <span>Taille</span>
                    <span>Cannette</span>
                </ng-template>
            </div>
        </div>
        <div class="mini-card-btns">
            <ild-plus-moins></ild-plus-moins>
            <div>
                <a class="shadow-ms">Ajouter</a>
            </div>
        </div>
    </div>
</div>