<div class="card m-3 shadow-sm">
    <div class="card-img" #bgImg>
        <span class="prix">
            {{produit?.prix}} FCFA
        </span>
    </div>
    <div class="card-info">
        <div class="card-title">
            <span>{{produit?.nom}}</span>
            <div>
                <span>Categorie</span>
                <span>{{produit?.type}}</span>
            </div>
        </div>
        <div class="card-btns">
            <div class="plus-moins">
                <span (click)="moins()">-</span>
                <input #quantite (change)="onValueChange(quantite.value)" type="text" name="" id="" value="{{quantiteVal}}">
                <span (click)="plus()">+</span>
            </div>
            <div>
                <a class="shadow-ms">Ajouter</a>
                <a class="shadow-ms" [routerLink]='[{ outlets: { sidebar: ["details",produit?.type,produit?.id] } }]'>Details</a>
            </div>
        </div>
    </div>
</div>