<div class="header">
    <ild-header></ild-header>
</div>
<div class="ligne-produit first">
    <div class="img">
        
    </div>
    <div class="nom fs-5">Nom</div>
    <div class="quantite fs-5">Quantite</div>
    <div class="prix-unit fs-5">Prix Unitaire</div>
    <div class="prix-total fs-5">Prix Total</div>
    <div class="actions fs-5">Actions</div>
</div>
<div class="panier">
    <div class="recap">
        <ng-container *ngFor="let commandeProduit of (commande$ |async)?.commandeProduits">
            <ild-ligne-produit [commandeProduit]="commandeProduit" (emiter)="getMontant($event)" (emiterChange)="getChangeInfo($event)"></ild-ligne-produit>
        </ng-container>
    </div>
    <div class="infos shadow-sm">
        <div class="montant bg-dark">
            <span class="text-2xl text-light">Total</span>
            <span class="fs-5 border-2 bg-light text-dark rounded">{{montantTotal}} FCFA</span>
        </div>
        <div class="livraison">
            <p>
                <button type="button" class="btn border bg-warning text-white" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
                  aria-controls="collapseExample">
                  Livraison a Domicile
                </button>
              </p>
              <form [formGroup]="myForm" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
                <div class="card">
                  <div class="card-body">
                    <div>
                        <label for="">Zone</label>
                        <select formControlName="quartier" name="" id="" class="form-control">
                            <option value="" checked>Choisir la zone</option>
                            <ng-container *ngFor="let quartier of quartiers$|async">
                                <option value="{{stringify([quartier.id,quartier.zone.id])}}">{{quartier.zone.libelle + " " + quartier.libelle + " " + quartier.zone.montantLivraison + "FCFA"}}</option>
                            </ng-container>
                        </select>
                    </div>
                    <div>
                        <label for="">Adresse</label>
                        <input formControlName="adresse" type="text" class="form-control rounded">
                    </div>
                    <div>
                        <label for="">Telephone</label>
                        <div class="flex">
                            <input type="text" value="+ 221" class=" p-2 bg-dark text-light w-12 rounded-sm">
                            <input formControlName="telephone" type="text" class="form-control tel">
                        </div>
                    </div>
                  </div>
                </div>
              </form>
        </div>
        <div class="infos-footer">
            <span class="">Type de livraison</span>
            <span class="typeLivraison">
                <ng-container *ngIf="isCollapsed, then content else other_content"></ng-container>
                <ng-template #content>
                    Sur Place
                </ng-template>
                <ng-template #other_content>
                    A Domicile
                </ng-template>
            </span>
        </div>
        <div class="valider">
            <button [disabled]="(!isCollapsed && myForm.invalid) || (commande$ |async)?.commandeProduits?.length == 0" type="submit" (click)="validCommande()" class="btn btn-success bg-green-700 px-5">Valider</button>
        </div>
    </div>
</div>
<!-- <div class="paginate">
    <ngb-pagination [collectionSize]="70" [(page)]="page" [boundaryLinks]="true"></ngb-pagination>
</div> -->
<div class="footer">
    <ild-footer></ild-footer>
</div>