<ild-layout></ild-layout>
<div class="connexion">
    <div class="tab-login shadow">
        <div class="form-part shadow-sm">
            <div class="form-part-head fs-4">Se Connecter</div>
            <div class="form-part-body">
                <div>
                    <label for="">login</label>
                    <input type="email" name="" id="" class="form-control">
                </div>
                <div>
                    <label for="">Password</label>
                    <input type="password" name="" id="" class="form-control">
                </div>

                <button class="btn">Connexion</button>
            </div>
        </div>
        <div class="text-part">
            <span class="bz">Brazil Burger</span><br><br>
            <p class="fs-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque dolore officiis autem omnis, magnam similique dolorem. Consequatur, beatae nam, necessitatibus perferendis impedit illo sint repudiandae placeat omnis aspernatur, possimus voluptas?</p>
        </div>
    </div>
</div>